<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.onlineBookStore.domain.book.repository.BookMapper">

    <insert id="insertBook">
        INSERT INTO BOOK(title,price)
        VALUES(#{title},#{price})
    </insert>

    <delete id="deleteBook">
        delete from BOOK
        where title = #{title}
    </delete>

    <select id="findById" resultType="com.project.onlineBookStore.domain.book.entity.Book">
        select bookId,title,price
        from book
    </select>
    <update id = "updateBook">
        update book
        set title = #{title}, price = #{price}
        where bookId = #{bookId}
    </update>
</mapper>
