<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.onlineBookStore.domain.user.repository.UserMapper">

    <insert id="insertUser">

        VALUES(#{name},#{id},#{pw})
    </insert>

    <delete id="deleteUser">
        delete from USER where id = #{id}
    </delete>
</mapper>
